@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('http://themes.googleusercontent.com/static/fonts/opensans/v5/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
body, main {
	background-color: rgb(250,250,250);
}
body {
	font-family: 'open sans' !important;
}
main > .container {
  padding: 60px 15px 0;
}
#chartjs-tooltip {
	opacity: 1;
	background: rgba(0, 0, 0, .7);
	position: absolute;
	color: white;
	border-radius: 3px;
	margin-top: 60px;
	margin-left: 60px;
	top: 0;
	left: 0; 
	/*-webkit-transition: all .1s ease;
	transition: all .1s ease;
	pointer-events: none;*/
	/*-webkit-transform: translate(10%, 0);
	transform: translate(10%, 0);*/
}
.chartjs-tooltip-key {
	display: inline-block;
}
.ungoal-detail-dialog {
	/* table that contains details on selected node */
}
div.selectables-container {
}
span.selectable-item-info {
	float: right;
	vertical-align: center;
	margin: 2px;
	margin-left: 12px;
}
li.selectable-container {
}
li.selectable-container:hover {
	background-color: lightgray !important;
	cursor: pointer;
}
label.selectable-label {
	margin-left: 6px;
}
ul#dropdown-countries-ul {
	background-color: white !important;
	overflow: auto;
	border: 1px solid rgba(0,0,0,0.3)
}
button.selected-dataset-selector {
	margin-top: 4px;
	margin-right: 4px;
}
#selected-color {
	margin-top: 4px;
	display: inline; 
	min-width: 260px; 
	border-radius: 4px;
}
button {
    z-index: 0 !important;
}
table.table-emissions-detail {
	border: 1px solid grey;
	border-radius: 12px !important;
	width: 95%;
	margin-right: auto;
	margin-left: auto;
}
table.table-emissions-detail th, td {
	padding: 4px;
}